<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1034009406723-l1em2heejgcd6fnokjk7a2rr6bcptmni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034009406723-l1em2heejgcd6fnokjk7a2rr6bcptmni</string>
	<key>API_KEY</key>
	<string>AIzaSyCN2aAZJCFBwn4dFtinl04gso7WDF5mecs</string>
	<key>GCM_SENDER_ID</key>
	<string>1034009406723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TeamLester.PlayDateGroupMessenger</string>
	<key>PROJECT_ID</key>
	<string>playdategroupmessenger</string>
	<key>STORAGE_BUCKET</key>
	<string>playdategroupmessenger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034009406723:ios:5b55fd275918dc0d</string>
	<key>DATABASE_URL</key>
	<string>https://playdategroupmessenger.firebaseio.com</string>
</dict>
</plist>